@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

p {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  color: #9CA3AF;
}

div {
  border-color: #1D293D;
  border-width: thin;  
}
